<div class="form-inline" style="border: 3px solid black; width: 450px; margin-left: 10px; margin-bottom: 10px; background: beige">
  <div class="col">
    <ol class="mb-0">
    <li><b>Name: </b>{{ register.name }}</li>
    <li><b>Surname: </b>{{ register.surname }}</li>
    <li><b>Patronymic: </b>{{ register.patronymic }}</li>
    <li><b>Phone number: </b>{{ register.number }}</li>
    <li><b>Place of work/study: </b>{{ register.placeOf }}</li>
    <li><b>T-shirt option: </b>{{ register.tShirt }}</li>
    <li><b>T-shirt size: </b>{{ register.size }}</li>
    <li><b>User comments: </b>{{ register.comments }}</li>
    </ol>
  </div>
  <div class="col-2">
    <img alt="#" src="https://www.pngkey.com/png/full/899-8992440_big-image-user-delete.png" style="height: 30px; cursor: pointer; margin-bottom: 10px" (click)="onRemove()"/>
    <img alt="#" src="https://cdn1.iconfinder.com/data/icons/database-and-storage-line/70/edit__create__user__employee__avatar-512.png" style="height: 40px; cursor: pointer" [routerLink]="['/edit', register.id]"/>
  </div>
</div>
