<div class="row mt-3 ml-3">
  <a routerLink="/" style="cursor: pointer">Our site</a>
  <a routerLink="/registers-list" style="border-left:1px solid black; margin-left: 10px; padding-left: 10px">Registers list</a>
</div>
<hr>
<router-outlet></router-outlet>
