<div class="container-fluid ml-3">
  <div class="row mt-3">
    <form (ngSubmit)="saveRegistration()" #f="ngForm">
      <div class="form-group">
        <label for="name"><b>Name</b>:</label>
        <small
          *ngIf="nameInput.touched && nameInput.errors?.['required']"
          class="form-text invalid-form-text mb-2 mt-0"
        >
          This is a required entry field
        </small>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          required
          ngModel
          #nameInput="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="surname"><b>Surname</b>:</label>
        <small
          *ngIf="surnameInput.touched && surnameInput.errors?.['required']"
          class="form-text invalid-form-text mb-2 mt-0"
        >
          This is a required entry field
        </small>
        <input
          type="text"
          name="surname"
          id="surname"
          class="form-control"
          required
          ngModel
          #surnameInput="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="patronymic"><b>Patronymic</b>:</label>
        <small
          *ngIf="patronymicInput.touched && patronymicInput.errors?.['required']"
          class="form-text invalid-form-text mb-2 mt-0"
        >
          This is a required entry field
        </small>
        <input
          type="text"
          name="patronymic"
          id="patronymic"
          class="form-control"
          required
          ngModel
          #patronymicInput="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="number"><b>Phone number</b>:</label>
        <small
          *ngIf="numberInput.touched && numberInput.errors?.['required']"
          class="form-text invalid-form-text mb-2 mt-0"
        >
          This is a required entry field
        </small>
        <input
          type="text"
          name="number"
          id="number"
          class="form-control"
          ngModel
          required
          appNumber
          #numberInput="ngModel"
        />
        <small
          *ngIf="numberInput.touched && numberInput.errors?.['number']"
          class="form-text invalid-form-text"
        >
          Number should be like: ' +996XXXYYYY '
        </small>
      </div>
      <div class="form-group">
        <label for="placeOf"><b>Place of work/study</b>:</label>
        <small
          *ngIf="placeOfInput.touched && placeOfInput.errors?.['required']"
          class="form-text invalid-form-text mb-2 mt-0"
        >
          This is a required entry field
        </small>
        <input
          type="text"
          name="placeOf"
          id="placeOf"
          class="form-control"
          required
          ngModel
          #placeOfInput="ngModel"
        />
      </div>
      <div class="form-group">
        <p><b>Choose t-shirt option</b>:</p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="maleT-shirt"
            value="male"
            name="tShirt"
            ngModel
            required
            #tShirt="ngModel"
          />
          <label class="form-check-label" for="maleT-shirt">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="femaleT-shirt"
            value="female"
            name="tShirt"
            ngModel
            required
          />
          <label class="form-check-label" for="femaleT-shirt">Female</label>
        </div>
        <small
          *ngIf="tShirt.touched && tShirt.errors?.['required']"
          class="form-text invalid-form-text"
        >
          Select t-shirt option
        </small>
      </div>
      <div class="form-group">
        <select
          name="size"
          id="size"
          ngModel
          required
          #size="ngModel"
        >
          <option value="">Choose a size</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
        </select>
        <small
          *ngIf="size.touched && size.errors?.['required']"
          class="form-text invalid-form-text"
        >
          Please select your size
        </small>
      </div>
      <div class="form-group">
        <label for="comments"><b>Comment field</b>:</label>
        <br>
        <textarea
          rows="3"
          cols="25"
          id="comments"
          name="comments"
          maxlength="300"
          required
          [(ngModel)]="role"
          #comments="ngModel"
        ></textarea>
        <small
          *ngIf="comments.touched && comments.errors?.['required']"
          class="form-text invalid-form-text"
        >
          Please describe your wishes for the order
        </small>
        <br>
        <font size="2">(Maximum characters: 300)<br>
          You have <span style="border: 1px solid black; padding: 5px 5px">{{ 300 - role.length }}</span> characters left.</font>
      </div>
      <button
        class="btn btn-dark"
        [disabled]="f.invalid"
        type="submit"
      >{{ isEdit ? 'Edit' : 'Register' }}</button>
    </form>
  </div>
</div>
